<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backButton-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,354},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>backButton-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,266},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>okbutton-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,178},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>okbutton-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>pauseButton-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>pauseButton-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>replayButton-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>replayButton-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>resumeButton-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>resumeButton-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>shareButton-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,86}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>shareButton-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,86}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>star-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,90},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>star-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,90},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endMenu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2026f61672a417af2e17f355a689f371:c9c7cf830ddd8f9ffe141937cb0c3343:83f80c786a8421286cb7dae8344faf20$</string>
            <key>textureFileName</key>
            <string>endMenu.png</string>
        </dict>
    </dict>
</plist>
