<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{126,245}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{126,245}}</string>
                <key>sourceSize</key>
                <string>{200,245}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,130},{200,241}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,241}}</string>
                <key>sourceSize</key>
                <string>{200,245}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,530},{194,241}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{194,241}}</string>
                <key>sourceSize</key>
                <string>{200,245}</string>
            </dict>
            <key>blowEffect-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{54,61}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{54,61}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>blowEffect-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,919},{104,101}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{104,101}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>blowEffect-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,332},{194,165}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{194,165}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>blowEffect-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,773},{200,205}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,205}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>blowEffect-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,332},{194,165}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,31},{194,165}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>blowEffect-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,530},{170,171}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{170,171}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>blowEffect-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,734},{174,163}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{174,163}}</string>
                <key>sourceSize</key>
                <string>{210,211}</string>
            </dict>
            <key>countDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{623,127}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,127}}</string>
                <key>sourceSize</key>
                <string>{631,129}</string>
            </dict>
            <key>countDownGauss.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{526,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,18}}</string>
                <key>sourceSize</key>
                <string>{526,18}</string>
            </dict>
            <key>fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{732,233}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{732,233}}</string>
                <key>sourceSize</key>
                <string>{800,315}</string>
            </dict>
            <key>hammer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,734},{134,183}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{134,183}}</string>
                <key>sourceSize</key>
                <string>{180,207}</string>
            </dict>
            <key>hammer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,332},{150,171}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{150,171}}</string>
                <key>sourceSize</key>
                <string>{180,207}</string>
            </dict>
            <key>hammer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,332},{156,145}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,45},{156,145}}</string>
                <key>sourceSize</key>
                <string>{180,207}</string>
            </dict>
            <key>hitEffect-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,919},{104,103}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{104,103}}</string>
                <key>sourceSize</key>
                <string>{202,193}</string>
            </dict>
            <key>hitEffect-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,479},{118,117}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{118,117}}</string>
                <key>sourceSize</key>
                <string>{202,193}</string>
            </dict>
            <key>hitEffect-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,703},{164,165}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{164,165}}</string>
                <key>sourceSize</key>
                <string>{202,193}</string>
            </dict>
            <key>hitEffect-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,332},{202,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,193}}</string>
                <key>sourceSize</key>
                <string>{202,193}</string>
            </dict>
            <key>hitEffect-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,530},{202,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,193}}</string>
                <key>sourceSize</key>
                <string>{202,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inGame_Elements.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77608489ab3abd9064769c1714fb6110:1/1$</string>
            <key>textureFileName</key>
            <string>inGame_Elements.png</string>
        </dict>
    </dict>
</plist>
